/* VARIÁVEIS */

:root {
    --font-menu: 'Kumbh Sans', sans-serif;
    --font-padrao: 'Mulish', sans-serif;
}

svg{
    display: block;
}

/* CONFIG GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: var(--font-padrao);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #5158FF;
}


/* HEADER */

.logo {
    width: 150px;
    height: 150px;
}

.cabeca nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    position: absolute;
    top: 60px;
    left: 700px;
}

.cabeca nav a {
    color: white;  
    font-size: 1.4em;
    font-weight: bold;
    font-family: var(--font-menu);
    text-decoration: none;
}

.cabeca nav a:hover {
    text-decoration: underline;
    opacity: .7;
}

/* USER */

.user {
    background-color: #5158FF;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -10;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.user .imgUser {
    width: 520px;
    height: 520px;
}

.login section {
    margin-top: 80px;
}

.login section h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 2em;
    text-shadow: 0px 12px 7px #000000a3;
}

.login section a {
    background-color: black;
    font-size: 1.3em;
    text-decoration: none;

    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 8px 7px 8px 5px #ffffff31;
}

.login section a:hover {
    opacity: .8;
    cursor: pointer;
}

/* ONDA 1 e ONDA 2 */

#onda1 {
    margin-top: 400px;
}

#onda2 {
    margin-top: 500px;
}

/* SOBRE */

.sobre {
    background-color: #FFF3CD;
    width: 100%;
    height: 1400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 1100px;
    z-index: -10;
}

.sobre h2, p {
    font-size: 2em; 
    color: black;
    margin-top: 50px;
}

.sobre h2 {
    font-weight: bolder;
    font-size: 2.5em;
    text-shadow: 0px 12px 7px #000000a3;
}

.sobre p {
    font-size: 1.5em;
    /* font-weight: bold; */
    text-align: center;
    width: 600px;
}

/* DESENVOLVEDORES */

.devs {
    background-color: #5158FF;
    width: 100%;
    height: 1900px;
    /* z-index: 30; */
}

.devs h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 300px;
    text-shadow: 0 13px 7px #000000bd;
}

/* TODAS AS SECTION LINHA */

.devs-row {
    width: 100%;
    height: 500px;
    padding-left: 50px;
}

/* SECTION DEVS DO TOP */

.devs-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* SECTION DEVS DO MID */

.devs-mid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* SECTION DEVS DO BOT */

.devs-bot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FUNDO DOS DEVS */

.devs .fundo {
    background-image: url('../img2/fundoDevs.png');
    background-size: 500px;
    background-repeat: no-repeat;
    width: 750px;
    height: 750px;
}

/* IMAGEM DOS DEVS */

.devs .fundo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 145px 0 0 150px;
    box-shadow: 1px 1px 20px 10px #00000075;
}

/* NOME DOS DEVS */

.devs .fundo p {
    color: white;
    margin-top: 120px;
    margin-left: 210px;
    text-shadow: 0 13px 7px #000000bd;
}

@media screen and (max-width:960px){


    .logo {
        width: 75px;
        height: 75px;
    }

    .cabeca nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    
        position: absolute;
        top: -10px;
        left: 80px;
    }
    
    .cabeca nav a {
        color: white;  
        font-size: 1em;
        font-weight: bold;
        font-family: var(--font-menu);
        text-decoration: none;
    }
    
    .cabeca nav a:hover {
        text-decoration: underline;
        opacity: .7;
    }

    /* .cabeca nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    

        top: 60px;
        left: 700px;
    } */

    .user .imgUser {
        width: 300px;
        height: 520px;
    }
    
    .user {
        padding-top: 90px;
        background-color: #5158FF;
        width: 100%;
        height: 150vh;
        position: absolute;
        top: 0;
        z-index: -10;
    
        display: inline;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    
    #onda1 {
        margin-top: 800px;
    }

    #onda2 {
        margin-top: 900px;
    }
    
    .sobre {
        background-color: #FFF3CD;
        width: 100%;
        height: 1400px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        top: 900px;
        z-index: -10;
    }

    .sobre h2, p {
        font-size: 1.5em; 
        color: black;
        margin-top: 50px;
    }
    
    .sobre h2 {
        font-weight: bolder;
        font-size: 1.5em;
    }
    
    .sobre p {
        font-size: 1em;
        /* font-weight: bold; */
        text-align: center;
        width: 400px;
    }

    figure{
        display: inline;
    }

    .devs h2 {
        font-size: 2.5em;
        margin-top: 150px;

    }

    .devs {
        background-color: #5158FF;
        width: 100%;
        height: 4000px;
        position: absolute;
        top: 2740px;
        /* z-index: -10; */
    }

    .devs img{
        display: inline;
    }

    /* teste dev */

    .devs-row {
        width: 100%;
        height: 500px;
        padding-left: 50px;
    }
    
    /* SECTION DEVS DO TOP */
    
    .devs-top {
        width: 100%;
        display: inline;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* SECTION DEVS DO MID */
    
    .devs-mid {
        width: 100%;
        display: inline;
        flex-direction: row;
        justify-content: space-around;
    }
    
    /* SECTION DEVS DO BOT */
    
    .devs-bot {
        width: 100%;
        display: inline;
        align-items: center;
        justify-content: center;
    }
    /* DEVS TOP */

/* .devsTop {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    position: relative;
}


.devsTop #dev1 {
    position: absolute;
    top: 145px;
    left: 155px;    
}

.devsTop #dev2 {
    position: absolute;
    top: 750px;
    left: 155px;
} */

/* DEVS MID */

/* .devsMid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.devsMid #dev3 {
    position: absolute;
    top: 2650px;
    left: 155px;
}

.devsMid #dev4 {
    position: absolute;
    top: 1465px;
    left: 0;
} */

/* DEVS BOT */

/* .devsBot {
    text-align: center;
}

.devsBot #dev5 {
    position: absolute;
    top: 1978px;
    left: 155px;
} */


    /* FOOTER */

    .rodape {
        width: 100%;
        position: absolute;
        top: 6350px;
    }

    .rodape #conteudo {
        color: white;
        font-weight:bold;
        position: absolute;
        top: 200px;
        left: 300px;
    }
}