/* VARIÁVEIS */

:root {
    --font-menu: 'Kumbh Sans', sans-serif;
    --font-padrao: 'Mulish', sans-serif;
}

/* CONFIG GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: var(--font-padrao);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #262DDA;
}


/* HEADER */

.logo {
    width: 150px;
    height: 150px;
}

.cabeca nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    position: absolute;
    top: 60px;
    left: 700px;
}

.cabeca nav a {
    color: white;  
    font-size: 1.4em;
    font-weight: bold;
    font-family: var(--font-menu);
    text-decoration: none;
}

.cabeca nav a:hover {
    text-decoration: underline;
    opacity: .7;
}

/* USER */

.user {
    background-color: #5158FF;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -10;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.user .imgUser {
    width: 520px;
    height: 520px;
}

.login section {
    margin-top: 80px;
}

.login section h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 2em;
}

.login section a {
    background-color: black;
    font-size: 1.3em;
    text-decoration: none;

    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
}

.login section a:hover {
    opacity: .8;
    cursor: pointer;
}

/* ONDA 1 e ONDA 2 */

#onda1 {
    margin-top: 400px;
}

/* SOBRE */

.sobre {
    background-color: #FFF3CD;
    width: 100%;
    height: 1400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 1100px;
    z-index: -10;
}

.sobre h2, p {
    font-size: 2em; 
    color: black;
    margin-top: 50px;
}

.sobre h2 {
    font-weight: bolder;
    font-size: 2.5em;
}

.sobre p {
    font-size: 1.5em;
    /* font-weight: bold; */
    text-align: center;
    width: 600px;
}

/* DESENVOLVEDORES */

.devs {
    background-color: #5158FF;
    width: 100%;
    height: 3000px;

    position: absolute;
    top: 2740px;
    z-index: -10;
}

.devs h2 {
    font-size: 2.5em;
    margin-top: 500px;
    margin-left: 750px;
}

.devs img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.devs figure figcaption p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.9em;
    margin-top: 8px;
}

/* DEVS TOP */

.devsTop {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.devsTop #dev1 {
    position: absolute;
    top: 855px;
    left: 155px;
}

.devsTop #dev2 {
    position: absolute;
    top: 855px;
    left: 1460px;
}

/* DEVS MID */

.devsMid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}


.devsMid #dev3 {
    position: absolute;
    top: 1465px;
    left: 403px;
}

.devsMid #dev4 {
    position: absolute;
    top: 1465px;
    left: 1210px;
}

/* DEVS BOT */

.devsBot {
    text-align: center;
}

.devsBot #dev5 {
    position: absolute;
    top: 2078px;
    left: 810px;
}

/* FOOTER */

.rodape {
    position: absolute;
    top: 5350px;
}

.rodape #conteudo {
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 200px;
    left: 600px;
}