/* VARIÁVEIS */

:root {
    --font-menu: 'Kumbh Sans', sans-serif;
    --font-padrao: 'Mulish', sans-serif;
    --font-title: 'Work Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-padrao);
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    /* background-color: #262DDA; */
    background-color: #5158FF;
}
/* 
.hero {
    height: 485vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
} */

img {
    width: 128px;
    height: 128px;
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: rgb(153, 0, 255);
    letter-spacing: 2px;
    font-size: 20px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background: #7176FF;
}

.aboutFirst {
    margin-top: 500px;
}

.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    font-family: var(--font-title);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: white;
    font-family: var(--font-padrao);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

.about-1{
    width: 100%;
    /* height: 1000px; */
    padding: 100px 0px;
    background: #5158FF;
}

.about-1 img{
    height: auto;
    width: 430px;
}

.about1-text{
    width: 550px;
}

.main1{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about1-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: var(--font-title);
}

.about1-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about1-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: var(--font-padrao);
}

.tittle h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.sobrePI p {
    line-height: 31px;
    letter-spacing: 1.4px;
    word-spacing: 1px;
    font-size: 16px;
    width: 450px;
    margin-top: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:900px){
    .sobrePI{
        order: -1;
    }

    .rodape{
        height: 900px;
    }
}