/* VARIÁVEIS */

:root {
    --font-menu: 'Kumbh Sans', sans-serif;
    --font-padrao: 'Mulish', sans-serif;
}

/* CONFIG GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: var(--font-padrao);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #262DDA;
}

/* CORPO */