/* VARIÁVEIS */

:root {
    --font-menu: 'Kumbh Sans', sans-serif;
    --font-padrao: 'Mulish', sans-serif;
}

/* CONFIG GLOBAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: var(--font-padrao);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #FFF3CD;
    /* background-color: black; */
}

/* ONDA 1 */

#onda1 {
    position: absolute;
    top: 660px;
}

/* CATEGORIAS */

.container {
    background-color: #F2D17C;
    width: 90%;
    height: 700px;
    margin-top: 750px;
    margin-left: 110px;
    border-radius: 27px;
}

.container h2 {
    color: black;
    font-size: 1.9em;
    font-weight: bold;
    padding: 30px;
}

.container figure {
    width: 300px;
    padding: 30px;
}

.container figure a img {
    width: 300px;
    height: 300px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.container figure figcaption p {
    background-color: #262DDA;
    width: 300px;
    padding: 20px;
}

.categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

@media screen and (max-width:960px){
    .a {
        display: none;
    }

    .container {
        background-color: #F2D17C;
        width: 70%;
        height: 670px;
        margin-top: 750px;
        margin-left: 110px;
        border-radius: 27px;
    }
}