/* Variaveis */

:root {
    --font-menu: 'Kumbh Sans', sans-serif;
    --font-padrao: 'Mulish', sans-serif;
}

/* Config Globais */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

/* FOOTER */

.rodape {
    position: absolute;
    top: 1000px;
}

.rodape p {
    color: white;
    font-size: 1.7em;
    font-weight: bolder;
    position: absolute;
    top: 200px;
    left: 600px;
}